body{
    background-color: #ddd;
}


h2{
    color:red;
    

}

header{
    display:flex;
    justify-content: center;
}

#PrimerParrafo{
    color:blue;
}

.borde{
    border: solid white 1px;
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.section1{
    display: flex;
}

.photoContainer{
    width: 200px;
}
#divDatosPersonales{
    
    /* padding:10px; */
    background-color: burlywood;
    /* box-shadow: 2px 2px 2px rgba(0,0,0,0.5); */
    border-radius: 5px;
    width: 100%;
    margin:5px;
}

#fotoPerfil{
    
    border-radius: 50%;
}

.datosPersonales{
    color:blue;
}

.actual{
    background-color:bisque
}

#initialSection{
    display: flex;
}

.explaboral{
    display: flex;
}

#coca{
    border-radius: 50%;
    width: 10%;
    margin:10px;
}
#up{border-radius: 50%;
    width: 7%;
    margin:5px;
}

#ibm{
    border-radius: 90%;
    width: 8%;
    margin:5px;
}

li{list-style: none }